STRING_SESSION=
STRING_SESSION2=
STRING_SESSION3=
STRING_SESSION4=
STRING_SESSION5=
API_ID= 
API_HASH= 
BOT_TOKEN= 
MONGO_DB_URI= 
LOG_GROUP_ID= 
MUSIC_BOT_NAME=
OWNER_ID= 
SUPPORT_CHANNEL=https://t.me/
SUPPORT_GROUP=https://t.me/ 
SPOTIFY_CLIENT_ID=
SPOTIFY_CLINET_SECRET=
AUTO_LEAVING_ASSISTANT= # set False jika kamu tidak mau set True Jika Iya
ASSISTANT_LEAVE_TIME=
DURATION_LIMIT=  #isi dengan menit contoh 60 untuk 60menit
UPSTREAM_REPO=https://github.com/damsyx/ZetsuMusic 
UPSTREAM_BRANCH=master
